.card {
  display: block;
  width: 150px;
  height: 150px;
  border: 1px black solid;
  cursor: pointer;

  transition: all 0.2s ease-out;
}

.card:hover {
  transform: scale(1.1);
  box-shadow: 3px 3px 10px 2px hsla(240, 1%, 22%, 0.5);
  z-index: 100;
}

.card.winner {
  cursor: default;
}
.card.winner:hover {
  transform: none;
  box-shadow: none;
}

@media (hover: none) {
  .card:hover {
    transform: none;
    box-shadow: none;
  }
}

.card .picture {
  position: absolute;
  background-repeat: no-repeat;
  background-size: contain;
  width: 148px;
  height: 148px;
}

.card .overlay {
  display: none;
  position: absolute;
  width: 148px;
  height: 148px;

  transition: all 0.2s ease-out;
}

@media (max-width: 480px) {
  .card {
    width: 92px;
    height: 92px;
  }

  .card .picture {
    width: 90px;
    height: 90px;
  }

  .card .overlay {
    width: 90px;
    height: 90px;
  }
}

.card .overlay.spymaster {
  display: block;
  opacity: 0.5;
}
.card .overlay.spymaster.revealed {
  opacity: 0.5;
}
.card .overlay.revealed {
  display: block;
  opacity: 0.9;
}

.card .overlay.red {
  background-color: var(--red);
}
.card .overlay.blue {
  background-color: var(--blue);
}
.card .overlay.neutral {
  background-color: var(--neutral);
}
.card .overlay.death {
  background-color: var(--death);
}

.card .overlay.spymaster.revealed:before,
.card .overlay.spymaster.revealed:after {
  position: absolute;
  content: '';
  background-color: hsla(0, 0%, 20%);
  opacity: 0.9;
  display: block;
  width: 100%;
  height: 20px;
  transform: rotate(-45deg);
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

.card .overlay.spymaster.revealed:after {
  transform: rotate(45deg);
}
